<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Essentials -->
  <package id="keepass" />
  <package id="chocolateygui" />

  <!-- Browsers -->
  <package id="vivaldi" />
  <package id="firefox" />

  <!-- Common -->
  <package id="dropbox" />
  <package id="onedrive" />
  <package id="thunderbird" />
  <package id="winrar" />
  <package id="vlc" />
  <package id="discord" />
  <package id="viber" />
  <package id="signal" />
  <package id="skype" />
  <package id="whatsapp" />
  <package id="twitch" />
  <package id="adobereader" />
  <package id="office365proplus" />
  <package id="calibre" />
  <package id="f.lux" />
  <package id="sharex" />

  <!-- Advanced -->
  <package id="eddie" />
  <package id="paint.net" />
  <package id="pandoc" />
  <package id="putty.install" />
  <package id="winscp" />
  <package id="ffmpeg" />
  <package id="obs-studio" />
  <package id="rufus" />
  <package id="speccy" />
  <package id="nmap" />
  <package id="microsoft-windows-terminal" />
  <package id="cmder" />
  <package id="hugo" />
  <package id="sysinternals" />
  <package id="autoruns" />
  <package id="shutup10" />
  <package id="wireshark" />
  <package id="vmware-workstation-player" />
  <package id="heidisql" />

  <!-- Gaming -->
  <package id="goggalaxy" />
  <package id="steam" />
  <package id="epicgameslauncher" />
  <package id="uplay" />
  <package id="dolphin" />

  <!-- Development -->
  <package id="vscode" />
  <package id="vscode-settingssync" />
  <package id="git.install" />
  <package id="llvm" />
  <package id="cmake" />
  <package id="conan" />
  <package id="firacode" />
  <package id="ghc" />
  <package id="cabal" />
  <package id="ninja" />
  <package id="nodejs" />
  <package id="putty.install" />
  <package id="python" />
  <package id="ruby" />
  <package id="rustup.install" />
  <package id="jdk8" />
  <package id="intellijidea-community" />
  <package id="linqpad" />
  <package id="paket" />
  <package id="visualstudio2019community" />
  <package id="visualstudio2019buildtools" />
  <package id="visualstudio2019-workload-visualstudioextension" />
  <package id="visualstudio2019-workload-manageddesktop" />
  <package id="visualstudio2019-workload-netcoretools" />
  <package id="visualstudio2019teamexplorer" />
</packages>
